anyio==4.13.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
EbookLib==0.20
google-auth==2.50.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
lxml==6.1.0
pillow==12.2.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
requests==2.33.1
shiboken6==6.11.0
six==1.17.0
urllib3==2.6.3
